.obrigatorio::after { content:"*"; color:red; }

.line::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 0px;
    box-shadow: rgb(0 0 0 / 0.13) 0 1px 2px 0px;
}

.td-cortado {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

table {
    table-layout: fixed;
    width: 100%;
}

.loading-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,.5);

    z-index: 999;

    opacity: 0;
    transition: opacity .25s ease;

    pointer-events: all;
}

.loading-overlay.show {
    opacity: 1;
}
